torch==2.0.1
torch-ema==0.3
tensorboard==2.13.0
tensorboardX==2.6

tqdm
ninja
numpy
scipy
matplotlib
opencv-python
imageio
imageio-ffmpeg
jaxtyping
libigl
wandb==0.15.4

omegaconf
# git+https://github.com/openai/CLIP.git
pytorch-lightning

# for stable-diffusion
huggingface_hub
diffusers >= 0.21.4
accelerate
transformers
bitsandbytes>=0.39.0

# for deepfloyd if
sentencepiece

# for dmtet and mesh export
# pysdf
trimesh==3.21.7
git+https://github.com/NVlabs/nvdiffrast/